// Создание переменной осуществляется с помощью символа " $ " после имя переменной : значение преременной ;

$fontSize: calc(1vw + 1vh);

$bgColor: #5f5f5f;

$blockFirstWigth: 100vw;
$blockFirstHeigth: 50px;

$blockWidth: 50%;
$blockBg: yellowgreen;
$blockBorder: 10px double #070707;

$someVar: some_class;
